html,body,#root{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'PT Sans', sans-serif;
    background: rgb(41,21,227);
    background: linear-gradient(315deg, rgba(41,21,227,1) 27%, rgba(131,22,219,0.9612045501794468) 76%);
}

.home{
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    .banner{
        font-size: 8rem;
        color: #F5F1FC;
    }
}
.login{
    display: flex;
    flex-direction:column;
    font-size:2em;
    color: #F5F1FC;
}
.btn{
    position: relative;
    top:5%;
    left:2%;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5rem;
    border-radius:.5rem;
    background: #3313AF;
    color: #F5F1FC;
    transition: transform .2s;
    height:4vh;
    margin-left: 4vw;
}



form{
    display:flex;
    flex-direction: column;
    height:30vh;
    width:20vw;
    input{
        margin:1em;
        height:4vh;
        font-size: 1.2em;
        border-radius: .2em;
        background-color: rgba(72, 8, 124, 0.961);
    }
    .buttons{
        position:static;
        width:100%;
        display:inherit;
        flex-direction:row;
    }
}

.regText{
    color: #F5F1FC;
}

.register{
    height:40vh;
    button{
        margin-left: .5vw;
    }
}

@media only screen and (min-device-width : 360px)   
and (max-device-width : 640px) {
    .form{
        width:100%;
        .i-f{
            width:80vw;
            height:10vh;
            position: relative;
            left:5%;
            right: 0;
            font-size: .9em;
            background-color: rgba(72, 8, 124, 0.961);
            color:white;
        }
        .btn{
            position:relative;
            width: 30vw;
            height:7vh;
            left:80%;
        }

    }
    .home .banner{
        font-size:4.6em;

    }
   .btn{
        position:relative;
        width: 30vw;
        height:7vh;
    }

    .register form{
        width:80vw;
        ::placeholder{
            color:rgba(196, 54, 231, 0.842);
        }
    }
}